<launch>
    <group ns="robot_4">
		<param name="tf_prefix" value="robot_4" />
		<node pkg="tf" type="static_transform_publisher" name="link_broadcaster" args="15 15 0 0 0 0 /map /robot_4/odom 100" />
  		<node pkg="online_scram" type="walker" name="walker" output="screen" />

    	<node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      		<param name="odom_frame_id" value="robot_4/odom" />
      		<param name="base_frame_id" value="robot_4/base_link" />
    	</node>
    </group>
</launch>